<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<mappers>
<mapper resource="com/sinabro/user/member/dao/user-Member.xml"></mapper>
<mapper resource="com/sinabro/user/board/dao/user-Board.xml"></mapper>
<mapper resource="com/sinabro/user/product/dao/user-Product.xml"></mapper>
<mapper resource="com/sinabro/user/page/dao/user-page.xml"></mapper>
<mapper resource="com/sinabro/user/cart/dao/user-Cart.xml"></mapper>
<mapper resource="com/sinabro/user/payment/dao/user-payment.xml"></mapper>
<mapper resource="com/sinabro/user/usedboard/dao/user-UsedBoard.xml"></mapper>
<mapper resource="com/sinabro/user/certify/dao/user-certify.xml"></mapper>


<mapper resource="com/sinabro/manager/product/dao/manager-Product.xml"></mapper>
<mapper resource="com/sinabro/manager/member/dao/admin-Member.xml"></mapper>
</mappers>
</configuration>