@charset "UTF-8";
body{
font-size:10pt; color:#898989; padding:0 0 0 0; margin:0 0 0 0;
width:600px;

margin-left:10%;
margin-right:10%;
margin-bottom:15%;
position:relative;

}

a { color:#898989; text-decoration:none;}
a:hover { color:black; text-decoration:none;}


.input{
display:inline-block;

}

.img {border:none;}
.a img {border:none;}



.button {
	align:center;
	
	text-decoration:none;
	font-family:Times New Roman;
	text-indent:0px;
	line-height:10px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	text-align:center;
	vertical-align:middle;
	display:inline-block;
	font-size:16px;
	color:#353535;
	width:65px;
	height:10px;
	padding:8px;
	background-color:#F6F6F6;
	border-color:#bcc1c2;
	border-width:1px;
	border-style:solid;
}

.addbutton{
align:center;
	
	text-decoration:none;
	font-family:Times New Roman;
	text-indent:0px;
	line-height:10px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	text-align:center;
	vertical-align:middle;
	display:inline-block;
	font-size:16px;
	color:#353535;
	width:65px;
	height:6px;
	padding:8px;
	background-color:#F6F6F6;
	border-color:#bcc1c2;
	border-width:1px;
	border-style:solid;

}
.addbutton:active {
	position:relative;
	top:3px
}

.addbutton:hover {
background-color:#EAEAEA;
}

.legend{
	 font-size:12pt; 
	 font-weight:bold;
	 margin-top:20px; 
	 margin-bottom:30px;
	
}


.tb-center p10{
font-family: 'NanumGothicWeb'; }




.button:active {
	position:relative;
	top:3px
}

.button:hover {
background-color:#EAEAEA;
}


#topbt{
text-align:center;
}

#bottombt{
text-align:center;
margin-top:30px;
margin-bottom:30px;
}


ul{
list-style:none;
padding:0;
}

ul li{
display:inline;
letter-spacing:0;
}
