@charset "UTF-8";

body{
	width:1000px;
	margin:auto; 
	padding-top:20px;
	clear:both;
}


#wrappercart{
	border:1px solid red;
	
}



#cartfoot{
	width:60%; 
	text-align:center; 
	font-size:12pt; 
	color:#999;  
	padding-top:60px; 
	padding-bottom:60px;
	font-family:NanumGothicWeb;
	
}

#cartfootinner{
margin-top: 5px;
 font-family:NanumGothicWeb;
 color:#999; 
 }