@charset "UTF-8";
body{
	margin-left:10%;
	margin-right:10%;
	border:2px solid blue;
}

#wrap{
		font-family:Calibri;
/* 		position:absolute; */
		position:relative; 
}


#mainProductsList {
	table-align: center;
	border-spacing: 5px;
	width: 105%;
	height: 100%;
}

a {
	text-decoration: none;
}
hr {
	height: 0.1px;
	color: #A6A6A6;
}
hr {
	height: 0.1px;
	color: #A6A6A6;
}

#productsList {
	float: center;
}

#tableName {
	list-style: none;
	display: inline;
	font-weight: bold;
	font-size: 13px;
}

#leftTableName {
	float: left;
	color: #000000;
	font-weight: bold;
}

#leftTableName a {
	padding-left: 10px;
}

#rightTableName {
	float: right;
	color: #000000;
	font-weight: bold;
}

p {
	font-size: 13px;
}

#mainProducts {
	width: 100px;
	height: 100px;
}

td {
	padding-top: 2%;
	padding-bottom: 2%;
}

ul {margin: 0; padding: 0; list-style: none;}

